@import '../variables'

.project 
	border-top: 2px dashed $black
	display: flex
	flex-direction: column
	margin-bottom: 35px

	&__logo
		display: block
		margin: 50px auto 35px auto
		outline: 0
		transition: all .2s ease-in
		@media (min-width: 680px)
			&:hover
				transform: translate3d(0, -5px, 0)
		img
			width: 100%